/*MEDIA QUERIS*/
/* Smartphone */
@media (max-width: 480px) {
  body {
    background-color: #cfe0e8; }
  header {
    background-color: #d6d4e0; }
  div h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 16.4px;
    align-items: center; }
  /*Main*/
  main ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: double;
    color: blanchedalmond;
    width: 200px;
    height: 100px;
    padding: 5px 5px;
    background-position: center center;
    background-size: cover;
    padding: 1em; }
    main ul li {
      font-family: Papyrus, fantasy;
      font-size: 15px;
      font-style: normal;
      font-variant: normal;
      font-weight: 100;
      line-height: 10px; }
      main ul li a {
        text-decoration: none;
        color: black; }
  /*Footer*/
  footer p {
    font-family: "Brush Script MT", cursive;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h2 {
    font-family: "Brush Script MT", cursive;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h3 {
    font-family: "Brush Script MT", cursive;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h4 {
    font-family: "Brush Script MT", cursive;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /*Transicion*/
  .transicionMenu a:hover {
    transition: 3s;
    font-size: 1rem; }
  .subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    background-color: black;
    color: orangered; }
  .menu {
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%); }
  .footer {
    background-color: #e3cae6;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 20px; } }

/* Tablet */
@media (min-width: 600px) {
  body {
    background-color: #b7d7e8; }
  /*Header*/
  header {
    background-color: #d6d4e0; }
  div h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 16.4px;
    align-items: center; }
  /*Main*/
  main section ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: double;
    color: blanchedalmond;
    width: 300px;
    height: 200px;
    padding: 5px 5px;
    background-position: center center;
    background-size: cover;
    padding: 1em; }
    main section ul li {
      font-family: Papyrus, fantasy;
      font-size: 15px;
      font-style: normal;
      font-variant: normal;
      font-weight: 100;
      line-height: 10px; }
      main section ul li a {
        text-decoration: none;
        color: black; }
  /*Footer*/
  footer {
    flex-direction: column; }
    footer p {
      font-family: "Brush Script MT", cursive;
      font-size: 10px;
      font-style: normal;
      font-variant: normal;
      font-weight: 200;
      line-height: 10px;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    footer h2 {
      font-family: "Brush Script MT", cursive;
      font-size: 15px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 15.4px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    footer h3 {
      font-family: "Brush Script MT", cursive;
      font-size: 10px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 15.4px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    footer h4 {
      font-family: "Brush Script MT", cursive;
      font-size: 10px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 15.4px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
    footer h5 {
      font-family: "Brush Script MT", cursive;
      font-size: 10px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 15.4px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
  /*Transicion*/
  .transicionMenu a:hover {
    transition: 3s;
    font-size: 1rem; }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3px;
    padding: 5px; }
  .subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    background-color: black;
    color: orangered; }
  .menu {
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%); }
  .footer {
    background-color: #e3cae6;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 20px; } }

/* Desktop */
@media (min-width: 1024px) {
  body {
    background-color: white; }
  /*Header*/
  header {
    background-color: #d6d4e0; }
  div h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 16.4px;
    align-items: center; }
  /*Main*/
  main {
    background-color: #b8a9c9;
    padding: 8px;
    margin: 2px; }
    main ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      padding: 20px 20px; }
      main ul li {
        font-family: Papyrus, fantasy;
        font-size: 25px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px; }
        main ul li a {
          text-decoration: none;
          color: black;
          align-items: baseline; }
  /*Footer*/
  footer p {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h2 {
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h3 {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h4 {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  footer h5 {
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /*Transicion*/
  .transicionMenu a:hover {
    transition: 3s;
    font-size: 2rem; }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px; }
  .subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    background-color: black;
    color: orangered; }
  .menu {
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%); }
  .footer {
    background-color: #e3cae6;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 20px; } }

main {
  padding: 5px; }
  main h2 {
    font-family: "Muli", sans-serif; }
  main h3 {
    display: flex;
    flex-direction: row;
    justify-content: center; }

/*PAGINA CONTACTO*/
form {
  display: block;
  margin-top: 0em;
  padding: 20px; }

.carrusel {
  font-size: 20px;
  font-family: "Georama", sans-serif; }

.carrusel p {
  color: black; }

.fondo {
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  margin: 40px 40px;
  background-position: center center;
  background-size: cover; }

.fondo__li {
  font-family: "Muli", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

.fondo--modi {
  padding: 1em;
  border: double;
  color: blanchedalmond; }

/*Main*/
main {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; }
  main ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  main a {
    text-decoration: none;
    color: black; }

.mujer {
  background-image: url("../../imagenes/mujer.jpg"); }

.hombre {
  background-image: url("../../imagenes/hombre.jpg"); }

.fondonino {
  background-image: url("../../imagenes/fondonino.jpg"); }

.fondocalzado {
  background-image: url("../../imagenes/fondocalzado.jpg"); }

/*Footer*/
footer p {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  footer p a {
    text-decoration: none;
    color: black; }

footer h2 {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer h3 {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer h4 {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer h5 {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.footer {
  background-color: #c3c1c9;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; }

* {
  margin: 0;
  padding: 0; }

body {
  color: #5a5a5a;
  height: 100vh; }

div h1 {
  font-family: "Georama", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  align-items: center;
  margin: 10px; }

/*Transicion Menu*/
.transicionMenu a:hover {
  transition: 3s;
  font-size: 2rem; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  padding: 10px; }

.subtitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  background-color: #d8dede;
  color: black; }

.menu {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  padding: 3px;
  margin: 3px; }
