//import
@import "responsive";
@import "paginas";
@import "index";
@import "footer";


//Variables
$size:20px;
$bgcolor:#d6d4e0;
$family:"Brush Script MT", cursive;

*{  margin: 0;
    padding: 0;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

h1{
    //operaciones
    font-family:Papyrus, fantasy;  
    font-size: $size; 
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    align-items: center; 
    margin: 10px;
}

/*PAGINA CONTACTO*/
form{
    display: block;
    margin-top: 0em;
    padding: 20px;
}

/*Transicion Menu*/
.transicionMenu a:hover {
    transition: 3s;
    font-size: 2rem; 
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
}

.contenedor{
    color: blanchedalmond;
    background-color: #d6cbd3;
 }

.subtitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    background-color: #d8dede;
    color: black;
}

.menu{ 
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    padding: 3px;
    margin: 3px;
}


